# Maven
/JavaStreamDemo/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IDEs
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/build/
/dist/
